@import url('https://fonts.googleapis.com/css?family=Lato');

body, html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.App {
  text-align: center;
}

h1 {
  font-size: calc(2rem + (130 - 32) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 900;
}

p {
  font-size: calc(2rem + (80 - 32) * ((100vw - 300px) / (1600 - 300)));
}

/*--------------------------LANDING PAGE--------------------------*/

.App-landing {
  color: #FFF;
  background-color: #000;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 2px 20px 10px rgba(0,0,0,0.8);
}

.LandingPage h1 {
  font-size: calc(50px + (150 - 50) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bolder;
  padding: 0 1rem 0 1rem;
}

.LandingPage span {
  color: #777DA7;
}

.Links a {
  font-size: calc(2rem + 2vmin);
  padding: 0.5rem;
  color: #FFF;
  transition: 0.5s color;
}

.Links a:hover {
  color: #777DA7; 
}

/*----------------------------------------------------------------*/

/*-------------------------------BIO------------------------------*/

.App-bio {
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.BioPage {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 2rem;
}

.BioPage span {
  color: #777DA7; 
}

/*----------------------------------------------------------------*/

/*-----------------------------SKILLS-----------------------------*/

.App-skills {
  background-color: #000;
  color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  padding: 2rem;
  box-shadow: 0px 2px 20px 10px rgba(0,0,0,0.8);
  box-shadow: 0px -2px 20px 10px rgba(0,0,0,0.8);
}

.SkillsPage b {
  color: #777DA7;
  font-size: calc(2rem + (40 - 32) * ((100vw - 300px) / (1600 - 300)));
}

.SkillsPage .arrows {
  color: #777DA7;
}

.SkillsPage i {
  font-size: calc(2rem + (65 - 32) * ((100vw - 300px) / (1600 - 300)));
  padding: 0.5rem;
}

.SkillsPage .icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*----------------------------------------------------------------*/

/*----------------------------------------------------------------*/

.App-projects {
  color: #000;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.ProjectsPage .quotes {
  color: #777DA7;
}

.ProjectsPage h2 {
  font-size: calc(2rem + (60 - 32) * ((100vw - 300px) / (1600 - 300)));
}

.ProjectsPage a {
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  transition: 0.5s color;
}

.ProjectsPage a:hover {
  color: #777DA7;
  text-decoration: none;
}

/*----------------------------------------------------------------*/

/*----------------------------FOOTER------------------------------*/

.App-footer {
  color: #FFF;
  background-color: #000;
  box-shadow: 0px -2px 20px 10px rgba(0,0,0,0.8);
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.footer {
  padding: 2rem;
}

.footer a {
  color: #FFF;
  padding: 0.5rem;
  transition: 0.5s color;
  justify-content: center;
}

.footer a:hover {
  color: #777DA7;
  text-decoration: none;
}

/*----------------------------------------------------------------*/